h1 {
    color: rgb(30, 30, 124);
    border: 1px solid black;
    height: 39 px
    

  }

h2 {
    color: rgb(30, 30, 124);
    border: 1px solid black;
    height: 25 px
    

  }
  
  p {
    color: red;
  }

h3 {
    color: rgb(30, 30, 124);
    border: 1px solid black;
    height: 20 px
    

  }

h4 {
    color: rgb(105, 105, 121);
    border: 1px solid black;
    height: 10.24 px
    

  }